#tra_show,#tra_header,#tra_footer,#tra_box {
	width: 300px;
	font-family: '微软雅黑';
	line-height: 1;
	word-wrap:normal;
}
#tra_show { 
	height:auto; 
	position: fixed;
	background-color:rgb(92, 154, 254);
	box-shadow: 0 0 10px rgba(130,130,130,.5);
	border-radius: 8px;
}
#tra_header { 
	height:auto;
	background-color: rgba(92,154,254,1);
	border-radius: 8px;
}
#tra_footer { 
	height:10px; 
	background-color:white;
	border-radius: 0 0 8px 8px;
}
#tra_box { 
	height:auto; 
	background-color: white;
	overflow: hidden;
}
#head_word {
	width: 300px;
	height: 30px;
	color: #fff;
	word-wrap:normal;
}

#head_last,#head_API {
	width: 300px;height: auto;
	color: #fff;
	font-size:x-small;
	padding: 0px 5px 2px 5px ;
	/*text-align:left;*/
}
#head_last{
	padding-top: 8px;
	height: 25px;
	padding-left: 8px;
}
#lastChoice {
	font-size:x-small;
	font-family: '微软雅黑';
	letter-spacing: 1px;
	line-height: 1;
	text-align: left;
}
#lastChoice:hover {
	background: grey;
	cursor:pointer;
}
#wordbook {
	width:100px;
	color: #fff;
	display: block;
	position: relative;
	float: right;
	font-size:x-small;
	padding: 13px 4px 0px 0px;
	text-decoration: underline;
	text-align: center;
}
#trans_word {
	width:100px;
	color: #fff;
	display: block;
	position: relative;
	float: left;
	font-size:large;
	padding: 8px 8px 0px 8px;
	text-transform: capitalize;
}
.xzw_starBox {
	position: relative;
	float: right;
	margin-left: 5px;
}
.tra_notice {
	font-size: xx-small;
	text-align: center;
	letter-spacing: 1px;
	margin: 2px;
}
.per_cus {
	position: relative;
	float: left;
	width: 300px;
	margin: 2px;
}
.perAPI {
	width:300px;
	height: 20px;
	text-align: center;
}
#cus_content {
	width: 105px;
	height: 25px;
	padding: 2px 0px 0px 5px;
	margin: 3px 0px 0px 6px;
	display: none;
	position: relative;
	float: left;
	border: 1px solid black
}
.score {
	margin-left:6px; 
	height:20px;
	width: 20px;
	line-height: 1; 
	display: block;
	position: relative;
	float: left;
	font-size: xx-small;
	margin-right: 5px;
	padding-top: 3px;
}
.span_style {
	height:25px; 
	width: 110px;
	line-height: 1; 
	padding-left: 8px;
	display: block;
	position: relative;
	float: left;
	text-align:left;
	font-size:x-small;
	font-family: '微软雅黑';
	letter-spacing: 1px;
}
.span_style:hover {
	background: rgb(92, 154, 254)
;
	cursor:pointer;
}
span.nominal {
	display: block;
	padding-left:4px; 
	display: block;
	position: relative;
	float: left;
	font-size:x-small;
	text-align: center;
	vertical-align: middle;
}
span.span_API:hover {
	display: block;
	background: grey;
	cursor:pointer;
}
span.span_API {
	height: 18px;
	width: auto;
	/*line-height: 1; */
	display: block;
	position: relative;
	float: left;
	font-size:x-small;
	font-family: '微软雅黑';
	letter-spacing: 1px;
	text-align: center;
	vertical-align: middle;
}
#cus_trans,#change_trans {
	width: 90px;
	position: relative;
	margin: 4px 10px 2px 10px;
	padding: 0px 1px;
	font-size:xx-small;
	color: rgba(74,74,74,1);
	background:rgba(216,216,216,1);
	cursor: pointer;
	height:25px;
	text-align: center;
	border-radius: 5px;
	border: none;
}
#cus_trans {
	float: left;
}
#change_trans {
	float: right;
}